<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>PhotoGALLERYArt Error page</title>
<meta name="description" content="website description">
<meta name="keywords" content="website keywords, website keywords">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<!-- stylesheets --><link href="css/style.css" rel="stylesheet" type="text/css">
<link href="css/dark.css" rel="stylesheet" type="text/css">
<!-- modernizr enables HTML5 elements and feature detects --><script type="text/javascript" src="js/modernizr-1.5.min.js"></script>
</head>
<body>

    <!-- begin header -->
    <header><div id="logo"><h1>PHOTO<a href="#">GALLERY</a>Art</h1></div></header>
	<form action="#" th:action="@{/utenteLogin}" th:object="${utente}" method="post">
		<div>
			<div>
				<span th:text="#{label.username}">username: </span>
				<span><input type="text" th:field="*{username}" /></span>
				<span th:if="${#fields.hasErrors('username')}" th:text="#{label.mandatory}">Error</span>
			</div>
			<div>
				<span th:text="#{label.password}">Password: </span>
				<span><input type="password" th:field="*{password}" /></span>
				<span th:if="${#fields.hasErrors('password')}" th:text="#{label.mandatory}">Error</span>
			</div>
			<div>
				<span><button type="submit">Submit</button></span>
			</div>
		</div>
	</form>
</body>
</html>